<div class="container-fluid">
  <div class="header-section">
    <div class="image">
      <%= image_tag "bus_header.webp" %>
    </div>
    <h2>Bus Reservation System</h2>
  </div>
</div>
<div class="container mt-5">
  <%= render "layouts/header" %>
</div>
<div class="container search-section">
  <%= render "layouts/search" %>
</div>
<div class="container">
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Bus Name</th>
          <th scope="col">Source Route</th>
          <th scope="col">Destination Route</th>
          <th scope="col">No Of Seats</th>
          <th scope="col">Registration No</th>
          <th scope="col">Fare</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @buses&.each_with_index do |bus, i| %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= bus.name %></td>
            <td><%= bus.source_route %></td>
            <td><%= bus.destination_route %></td>
            <td><%= bus.no_of_seats %></td>
            <td><%= bus.registration_no %></td>
            <td><%= bus.fare %></td>
            <td>
              <button type="button" id="productModal<%= i %>" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#product-modal" data-bus-id="<%= bus&.id %>" onclick="bookSeat(<%= i %>)">Book Your Seat</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="product-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- content of show.html.erb from buses -->
    </div>
  </div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Thanks for Reservation!
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>We will look over your message and get back to you by tomorrow. In the meantime, you can check the FAQ section, look over our new product collection or browse through our latest blog posts [link to another page — will be displayed as Please click here to continue].

        Your can see your info on My booking section</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>


<script>
// Handle the click event on the link
function bookSeat(index) {
    // Get the product ID from the link
    var productId = $('#productModal'+ index).data('bus-id');
    // Send an AJAX request to fetch the show page
    $.ajax({
      url: '/buses/' + productId,
      method: 'GET',
      success: function(response) {
        // Insert the response into the modal
        $('#product-modal .modal-content').html(response);
        $("#product-modal").modal("show");
      }
    });
  // });
}
</script>

<style type="text/css">
  .header-section{
    position: relative;
  }
  .header-section h2{
    position: absolute;
    top: 0;
    bottom: 0;
    top: 230px;
    left: 0;
    right: 0;
    text-align: center;
/*    z-index: 9999;*/
    font-size: 60px;
    color: white;
  }
  .search-section{
/*    position: absolute;*/
    top: 460px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  .image{
    width: 100%;
    height: 500px;
    opacity: 0.5;
  }
  .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
