<div class="modal-body">
	<div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <h4>Choose Your Seat</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
		<div id="available-seats-section">
		  <div class="row">
		      <% seats = @available_seats + @booked_seats %>
		      <% seats.sort.each do |seat| %>
		        <div class="col-md-3">
		          <div class="text-center">
		            <% selected = @booked_seats.include?(seat) %>
		            <label class="seat-label" style="color: <%= selected ? 'red' : 'inherit' %>">
		              <input type="checkbox" name="selected_seats[]" value="<%= seat %>" class="seat-checkbox"  <%= selected ? 'disabled' : '' %>>
		              <i class="fas fa-couch"></i><div class="font-text text-black-50" style="font-size: 10px;">seat no. <%= seat%></div>
		            </label>
		          </div>
		        </div>
		      <% end %>
		      <!-- <div class="form-group">
		        <label for="my-date">Booking Date:</label>
		        <input type="date" id="my-date" name="my_date" min="<%= Date.today.to_s %>">
		      </div> -->
		    </div>
		</div>
	  <button type="button" id="busModal" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#myModal" data-bus-id="<%= @bus&.id %>" data-user-id="<%= current_user&.id %>" onclick="reservation()">Book Your Seat 1</button>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Back</button>
	</div>
</div>

<script>
	// Get the modal element
	var modal = document.querySelector('.modal');

	// Attach an event listener to the hidden.bs.modal event
	modal.addEventListener('hidden.bs.modal', function (event) {
	  // Reload the page
	  location.reload();
	});
</script>
